body{
    margin: 0;
    padding: 0;
    position: relative;
}
.video-loop{
    object-fit: cover;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;

}
video{
    width: 100%;
    height: auto;
}